.footer{
margin-top: 5rem;
}

ul{
  list-style: none;
}
.footerrow{
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
    justify-content: space-between;
  
}

.lists{
    flex-direction: row;
    font-size: 0.875rem;
    line-height: 1.5;
    font-family: 'Lato';
    padding-right: 24px;
   
}
.lists p{
    line-height: normal;
    margin-bottom: 0.25rem;
}
.splitwise{
    color: #1CC29F;
    font-weight: 700;

    padding-right: 2rem;
}
  
.account{
    color: #f67240;
    font-weight: 700;
    padding-left: 2rem;
    padding-right: 2rem;
   
}
.more{
    color: #373B3F;
    font-weight: 700;
    padding-left: 2rem;
}
.appspara{
    color: #52595f;
    justify-content: flex-end;
    font-size: 0.875rem;
    font-family: 'Lato'
 
}
.applist{
    flex-direction: column;
}
.apps{
    margin-bottom: 24px;
}
input{
    font-size:"32px";
    height:"42px";
}