.wrapper{
    line-height: 36px;
    font-size: 18px;
    width: auto;
    max-width: 600px;
    padding-bottom: 50px;
    margin: 50px auto;
    width: 940px;
    padding: 0 10px;
    margin-top: 50px;

}
.formblock{
    width: 360px;
    padding-left: 15px;
}
.greeting{
    line-height: 140%; 
    margin: 16px 0 5px;
    font-family: 'Lato';
   
}
h2{
    letter-spacing: 0.5px;
    font-size: 12px;
    color: #999;
    font-weight: bold;
    line-height: 20px;
    font-family: 'Lato';
}

.sign-up input[type=text]{
width:100%;
 height:40px;
 border: 0 solid;
 border-color: #E6E8EE;
 border-width: 1px;
font-size: 26px;
 margin-bottom:17px;    
}
.secondaryDetails input[type=email],.secondaryDetails input[type=password]{
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Lato';
    border: 0 solid;
    border-color: #E6E8EE;
    border-width: 1px;

}
.sign-up input[type=submit]{
    width: auto;
    font-weight: 400;
    padding: 8px 10px;
    margin-top: 9px;
    font-size: 18px;
    font-family: 'Lato';
    background: #ff652f;
    color: #fff;
    text-shadow: 0 -1px 0 #c83400;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-family: 'Lato';
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.secondaryDetails{
    color: #333333;
    line-height:24px;
   
}
.font-14{
    font-size: 14px;
}

.item-center{
    align-items: center;
}
.show{
    display:none;
}